@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    --color-primer: #FFFFFF;
    --color-aksen: #2A93D5;
    --color-sekunder: #D8F0FF;
}

.content-jadwalKBM-Guru {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-jadwalKBM-Guru {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.card-jadwalKBM-Guru-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.img-jadwalKbm-Guru {
    max-width: 100px;
    max-height: 100px;
}

.image-JadwalKbm-Guru {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.name-card-jadwalKBM-Guru {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-aksen);
}

.email-card-jadwalKBM-Guru {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #4B4B4B;
}

.detaiKelas-JadwalKBM-Guru {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 4px 15px;
    background: var(--color-sekunder);
    color: var(--color-aksen);
    border-radius: 5px;
}