@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    --color-primer: #FFFFFF;
    --color-aksen: #2A93D5;
    --color-sekunder: #D8F0FF;
}

.header-guru {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add-guru {
    display: flex;
    background: var(--color-aksen);
    color: var(--color-primer);
    border: none;
    padding: 13px 35px;
    width: 200px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
}

.btn-add-guru p{
    width: max-content;
}

.btn-add-guru:hover {
    background: #1D77AF;
}

.header-guru-left {
    display: flex;
    gap: 15px;
}

.header-guru .header-guru-left .btn-add-guru p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /* line-height: 22px; */
    color: #FFFFFF;
}

.detail-jumlah-guru {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #2A93D5;
}

/* Styling untuk dropdown */
select {
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    appearance: none;
    padding: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('https://api.iconify.design/ic/round-navigate-next.svg?color=%232a93d5&width=30');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

/* Styling untuk opsi yang dipilih */
option {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* line-height: 22px; */
    color: #4B4B4B;
    background-color: var(--color-primer);

}

option[selected] {
    /* outline: none; */
    /* font-weight: bold; */
}

/*  */

.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    height: 50px;
}

.search-box input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

.search-box button[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* padding: 8px; */
    width: 40px;
    height: 40px;
    margin-left: 8px;
    cursor: pointer;
}

/*  */

/* TABLE */
.container-table {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin-top: 30px;
}

.content-table-guru {
    width: 100%;
    background-color: white;
    padding: 1rem 1.5rem;
    border: 1px solid #EBF0FE;
    border-top: none;
    border-collapse: collapse;
    position: relative;
}

.content-table-guru thead {
    width: 100%;
    border-bottom: 1px solid #000;
}

.content-table-guru thead th {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    padding: 1.5rem 0;
    padding-left: -10px;
    color: #797979;
}

.content-table-guru thead th:nth-child(1) {
    padding-left: 1.5rem;
}

.content-table-guru tbody tr {
    width: 100%;
}

.content-table-guru tbody:hover tr:hover {
    background-color: var(--color-sekunder);
}

/* .content-table-guru tbody tr:nth-child(odd) {
    background-color: #efefefb6;
} */

.content-table-guru td {
    font-size: 15px;
    color: #797979;
}

.content-table-guru .row-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.content-table-guru .row-img img {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    border-radius: 50%
}

.content-table-guru tbody tr:hover .pengampu {
    background: #2A93D5;
    color: white;
}

.pengampu {
    width: 100px;
    height: 30px;
    font-size: 15px;
    background: #D8F0FF;
    color: #2A93D5;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

.popup-menu-guruAdmin {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    transform: translateX(-100%);
}

.popup-menu-guruAdmin.active {
    display: block;
}


.popup-menu-guruAdmin ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 9px;
}

.popup-menu-guruAdmin ul li {
    /* padding-right: 30px; */
    width: 100%;
}

.popup-menu-guruAdmin ul li:nth-child(4) {
    width: max-content;
}

.popup-menu-guruAdmin ul li a {
    display: block;
    padding: 10px;
    color: #333;
    width: 100%;
    text-decoration: none;
}

#popup-menu-guruAdmin li:nth-child(1):hover {
    background-color: #D8F0FF;
    border-radius: 9px 9px 0px 0px;
}

#popup-menu-guruAdmin li:nth-child(2):hover {
    background-color: #D8F0FF;
}

#popup-menu-guruAdmin li:nth-child(3):hover {
    background-color: #FFD8D8;
}

#popup-menu-guruAdmin li:nth-child(4):hover {
    background-color: #D8F0FF;
    border-radius: 0px 0px 9px 9px;
}

.dataNotFound {
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    color: #333;
    margin-top: -30px;
}

.tdImg {
    padding: 10px;
}

.img-td {
    max-width: 50px;
}

.img-td img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 15px;
    /* display: none; */
}

.switch-inputKode input[type="radio"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.switch-inputKode label {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    cursor: pointer;
}

.con-radio {
    display: flex;
    gap: 15px;
}