.con-content-material{
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Poppins';
}

.content-material{
    /* border-radius: 20px; */
    /* height: 350px; */
    display: flex;
    /* padding: 30px; */
    justify-content: space-between;
}

.content-material-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-material {
    background: #D8F0FF;
    /* padding: 20px; */
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.date-upload{
    font-size: 15px;
    color: #797979;
    font-weight: 500;
}

.name-material{
    font-size: 20px;
    color: var(--color-aksen);
    font-weight: 500;
}

.content-material-right{
    display: flex;
    gap: 50px;
}

.desc-content-material{
    margin-top: 30px;
    color: #4b4b4b;
}

.switch-container {
    width: max-content;
    display: flex;
    gap: 2px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color-sekunder);
}

#btn-materiKbm, #btn-tugasKbm {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 43px;
    border-radius: 5px;
    background-color: var(--color-sekunder);
    color: var(--color-aksen);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#btn-materiKbm.activeDetailKbm, #btn-tugasKbm.activeDetailKbm {
    background-color: var(--color-aksen);
    color: var(--color-primer);
    /* transition-delay: 0.9s; */
}


a {
    text-decoration: none;
    width: fit-content;
}

.con-value-fileOrlink {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}

.btn-openSitus {
    background: var(--color-aksen);
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-primer);
    cursor: pointer;
    transition: 0.3s;
    height: max-content;
}

.btn-openSitus:hover {
    background: #1D77AF;
    color: var(--color-primer);
}

.value-link, .value-file {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px 78px 10px 10px;
    gap: 20px;
    cursor: pointer;
    width: max-content;
}

#value-link, #value-file {
    display: flex;
    align-items: center;
}

.value-link iframe {
    width: 160px;
    height: 100px;
    border-radius: 10px;
}

.title-fileOrlink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4B4B4B;
}


.con-soal-jawaban {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.icon-value-file {
    padding: 25.5px;
    border-radius: 5px;
    background: var(--color-aksen);
    color: var(--color-primer);
}

.title-value-file {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4B4B4B;
}

.file-detailMenunggu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #797979;
}

.file-detailMenunggu span {
    color: var(--color-aksen);
}

.sectionJawaban {
    margin-top: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 15px;
    width: max-content;
}

.title-sectionJawaban {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    color: #4B4B4B;
}

.btn-collection-confirmation {
    margin-top: 30px;
    border-radius: 5px;
    background: var(--color-aksen);
    padding: 9px 54px;
    width: 100%;
    line-height: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: .15s ease-in-out;
    color: var(--color-primer);
}

.btn-collection-confirmation:hover {
    background: #1D77AF;
}