.con-content-material{
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Poppins';
}

.content-material{
    /* border-radius: 20px; */
    /* height: 350px; */
    display: flex;
    /* padding: 30px; */
    justify-content: space-between;
}

.content-material-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-material {
    background: #D8F0FF;
    /* padding: 20px; */
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.date-upload{
    font-size: 15px;
    color: #797979;
    font-weight: 500;
}

.name-material{
    font-size: 20px;
    color: var(--color-aksen);
    font-weight: 500;
}

.content-material-right{
    display: flex;
    gap: 50px;
}

.desc-content-material{
    margin-top: 30px;
    color: #4b4b4b;
}

.switch-container {
    width: max-content;
    display: flex;
    gap: 2px;
    margin-top: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color-sekunder);
}

#btn-materiKbm, #btn-tugasKbm {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 43px;
    border-radius: 5px;
    background-color: var(--color-sekunder);
    color: var(--color-aksen);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#btn-materiKbm.activeDetailKbm, #btn-tugasKbm.activeDetailKbm {
    background-color: var(--color-aksen);
    color: var(--color-primer);
    /* transition-delay: 0.9s; */
}



a {
    text-decoration: none;
    width: fit-content;
  }
  
  .con-value-fileOrlink {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
  }
  
  .btn-openSitus {
    background: var(--color-aksen);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-primer);
    cursor: pointer;
    transition: 0.3s;
    height: max-content;
  }
  
  .btn-openSitus:hover {
    background: #1d77af;
    color: var(--color-primer);
  }
  
  .value-link,
  .value-file {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    gap: 20px;
    cursor: pointer;
    width: 370px;
  }
  
  #value-link,
  #value-file {
    display: flex;
    align-items: center;
  }
  
  .value-link iframe {
    width: 160px;
    height: 100px;
    border-radius: 10px;
  }
  
  .title-fileOrlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4b4b4b;
  }
  
  .con-soal-jawaban {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .file-generate {
    display: flex;
    width: 100%;
    z-index: 88;
  }
  
  .input-file-generate {
    display: flex;
    width: 100%;
    z-index: 88;
    background: var(--color-primer);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    padding: 10px 0px 10px 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-primer);
    cursor: pointer;
    transition: 0.3s;
    height: max-content;
    margin-top: 20px;
  }
  
  .icon-value-file {
    padding: 18px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background: var(--color-aksen);
    color: var(--color-primer);
  }
  
  .button-delete{
    border: none;
    background-color: var(--color-primer);
    cursor: pointer;
    align-items: center;
    padding-right: -100px;
    padding-right: 20px;
    color: #4b4b4b;
    z-index: 99;
  }
  
  .name-delete{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #4b4b4b;
  
  }
  
  .file-button-delete{
    width: 100%;
  }
  
  .title-value-file {
    font-family: "Poppins";
    padding-left: 20px;
    padding-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4b4b4b;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-format {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #797979;
    padding-left: 20px;
    margin-top: -1px;
  }
  
  .format-file span {
    color: var(--color-aksen);
  }
  
  .sectionJawaban {
    margin-top: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 15px;
    width: max-content;
  }
  
  .title-sectionJawaban {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    color: #4b4b4b;
  }
  
  .btn-collection-confirmation {
    margin-top: 30px;
    border-radius: 5px;
    background: var(--color-aksen);
    padding: 9px 54px;
    width: 100%;
    line-height: 22px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    color: var(--color-primer);
  }
  
  .btn-collection-confirmation:hover {
    background: #1d77af;
  }